In [45]:
# Import libraries
import pandas as pd
import numpy as np
import os

# Importing Data

In [47]:
df=pd.read_csv(r'D:\Sonal\career foundry\CareerFoundry\Data Immersion\Achievement 6\Exc 6.1\original data\flavors_of_cacao.csv',index_col=False)

In [48]:
df.head()

,Company \n(Maker-if known),Specific Bean Origin\nor Bar Name,REF,Review\nDate,Cocoa\nPercent,Company\nLocation,Rating,Bean\nType,Broad Bean\nOrigin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru

In [49]:
df.shape

(1795, 9)

In [50]:
df['Cocoa\nPercent'] = df['Cocoa\nPercent'].str.rstrip('%').astype(float)

# Summary stats

In [52]:
df.describe()

               REF  Review\nDate  Cocoa\nPercent       Rating
count  1795.000000   1795.000000     1795.000000  1795.000000
mean   1035.904735   2012.325348       71.698329     3.185933
std     552.886365      2.927210        6.323118     0.478062
min       5.000000   2006.000000       42.000000     1.000000
25%     576.000000   2010.000000       70.000000     2.875000
50%    1069.000000   2013.000000       70.000000     3.250000
75%    1502.000000   2015.000000       75.000000     3.500000
max    1952.000000   2017.000000      100.000000     5.000000

# Data types

In [54]:
df.dtypes

Company \n(Maker-if known)            object
Specific Bean Origin\nor Bar Name     object
REF                                    int64
Review\nDate                           int64
Cocoa\nPercent                       float64
Company\nLocation                     object
Rating                               float64
Bean\nType                            object
Broad Bean\nOrigin                    object
dtype: object

# Renaming columns

In [56]:
df.columns

Index(['Company \n(Maker-if known)', 'Specific Bean Origin\nor Bar Name',
       'REF', 'Review\nDate', 'Cocoa\nPercent', 'Company\nLocation', 'Rating',
       'Bean\nType', 'Broad Bean\nOrigin'],
      dtype='object')

In [57]:
#  to display a list of the column names of a DataFrame (df) in a specific format

In [58]:
print(repr(df.columns.tolist()))

['Company\xa0\n(Maker-if known)', 'Specific Bean Origin\nor Bar Name', 'REF', 'Review\nDate', 'Cocoa\nPercent', 'Company\nLocation', 'Rating', 'Bean\nType', 'Broad Bean\nOrigin']

In [59]:
df.rename(columns={'Company\xa0\n(Maker-if known)': 'Company'}, inplace=True)

In [60]:
df.rename(columns={'Specific Bean Origin\nor Bar Name': 'bean_origin'}, inplace=True)

In [61]:
df.rename(columns={'ref': 'ref'}, inplace=True)

In [62]:
df.rename(columns={'Review\nDate' : 'review_date'}, inplace=True)

In [63]:
df.rename(columns={'Cocoa\nPercent': 'cacao_percent'}, inplace=True)

In [64]:
df.rename(columns={'Company\nLocation': 'company_location'}, inplace=True)

In [65]:
df.rename(columns={'Bean\nType': 'bean_type'}, inplace=True)

In [66]:
df.rename(columns={'Broad Bean\nOrigin': 'broad_bean_origin'}, inplace=True)

In [67]:
df.head()

,Company,bean_origin,REF,review_date,cacao_percent,company_location,Rating,bean_type,broad_bean_origin
0,A. Morin,Agua Grande,1876,2016,63.0,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70.0,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70.0,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70.0,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70.0,France,3.50,,Peru

# Check missing values

In [69]:
df.isnull().sum()

Company              0
bean_origin          0
REF                  0
review_date          0
cacao_percent        0
company_location     0
Rating               0
bean_type            1
broad_bean_origin    1
dtype: int64

In [70]:
df_nan = df[df['bean_type'].isnull() | df['broad_bean_origin'].isnull()]

In [71]:
df_nan

,Company,bean_origin,REF,review_date,cacao_percent,company_location,Rating,bean_type,broad_bean_origin
1072,Mast Brothers,Madagascar,999,2012,72.0,U.S.A.,2.5,Trinitario,NaN
1544,Soma,"Three Amigos(Chuao, Wild Bolivia, D.R.)",676,2011,70.0,Canada,4.0,NaN,"Ven, Bolivia, D.R."

In [72]:
# There is a difference in missing values of dataset in excel and python .I have considered empty strings and spaces.

In [73]:
df['bean_type'].value_counts(dropna=False)

bean_type
                            887
Trinitario                  419
Criollo                     153
Forastero                    87
Forastero (Nacional)         52
Blend                        41
Criollo, Trinitario          39
Forastero (Arriba)           37
Criollo (Porcelana)          10
Trinitario, Criollo           9
Forastero (Parazinho)         8
Forastero (Arriba) ASS        6
Beniano                       3
Matina                        3
EET                           3
Nacional (Arriba)             3
Criollo, Forastero            2
Amazon, ICS                   2
Trinitario, Forastero         2
Amazon mix                    2
Forastero (Catongo)           2
Nacional                      2
Trinitario (85% Criollo)      2
Criollo (Amarru)              2
Criollo (Ocumare 61)          2
Criollo, +                    1
Forastero (Arriba) ASSS       1
Trinitario, TCGA              1
Trinitario (Amelonado)        1
Trinitario, Nacional          1
NaN                           1
Forastero (Amelonado)         1
Forastero, Trinitario         1
Criollo (Ocumare 77)          1
Amazon                        1
Forastero(Arriba, CCN)        1
Criollo (Ocumare 67)          1
CCN51                         1
Trinitario (Scavina)          1
Blend-Forastero,Criollo       1
Criollo (Ocumare)             1
Criollo (Wild)                1
Name: count, dtype: int64

In [74]:
# It shows blank spaces/strings with 887

In [75]:
#Replace Empty Strings or Spaces with NaN:

In [76]:
df['bean_type'] = df['bean_type'].replace(r'^\s*$', np.nan, regex=True)

In [77]:
df['broad_bean_origin'] = df['broad_bean_origin'].replace(r'^\s*$', np.nan, regex=True)

In [78]:
print(df.isnull().sum())

Company                0
bean_origin            0
REF                    0
review_date            0
cacao_percent          0
company_location       0
Rating                 0
bean_type            888
broad_bean_origin     74
dtype: int64

# Finding duplicates

In [80]:
df[df.duplicated()]

Empty DataFrame
Columns: [Company, bean_origin, REF, review_date, cacao_percent, company_location, Rating, bean_type, broad_bean_origin]
Index: []

In [81]:
# There are no duplicates

# Check for mixed type data

In [83]:
for col in df.columns.tolist():
  weird = (df[[col]].map(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col)

bean_type
broad_bean_origin

In [84]:
df['bean_type']=df['bean_type'].astype('str')

In [85]:
df['broad_bean_origin']=df['broad_bean_origin'].astype('str')

In [86]:
df.shape

(1795, 9)

# Export data

In [88]:
df.to_pickle(r'D:\Sonal\career foundry\CareerFoundry\Data Immersion\Achievement 6\Exc 6.1\cleaned data\df_cleaned.pkl')

In [89]:
df.to_csv(r'D:\Sonal\career foundry\CareerFoundry\Data Immersion\Achievement 6\Exc 6.1\cleaned data\df_cleaned.csv')